[flake8]
ignore =
    F401,
    F403,
    W0401,
    C0115,
    W0613,

exclude =
    data/

count = True
statistics = True

doctests = True
show-source = True

# Default 79 characters is sometimes too restrictive.
# Also, we have black which formats most of the long lines,
# and pylint (less strict).
max-line-length = 99

max-doc-length = 99
